body {
    background-color: #e9ecef;
}
body::-webkit-scrollbar {
    display:none;
}
.logo {
    color: #000;
    text-decoration: none;
    font-size: 25px;
    font-family: serif;
    font-weight: bold;
}

.logout {
    font-size: 16px;
    color: blue;
    text-align: center;
}

.logout:hover {
    background-color: #fff;
}

.main {

}

.fc-daygrid-day-number {
    color: #000;
    text-decoration: none;
}

.fc .fc-scrollgrid-liquid{
    border: 2px solid #000!important;
}

.fc-theme-standard td, .fc-theme-standard th{
    border: 2px solid #000!important;
}

.fc-day-sun {
    background-color: #e5c7ca;
}

.fc-day-mon {
    background-color: #fff;
}

.fc-day-tue {
    background-color: #fff;
}

.fc-day-wed {
    background-color: #fff;
}

.fc-day-thu {
    background-color: #fff;
}

.fc-day-fri {
    background-color: #fff;
}

.fc-day-sat {
    background-color: #bfd1ec;
}

.fc-col-header-cell-cushion {
    color: #000;
    text-decoration: none;
}

.required {
    background-color: #FF6633;
    padding: 1px 3px;
    color: #fff;
    margin-left: 8px;
    font-size: 10px;
    border-radius: 4px;
}

.search-btn {
    background-color: #FFCC33;
    border: 1px solid #CCCCCC;
height: 100%;}

.onsite-name {
    background-color: #CCCCCC;
    display: table;
    border: 1px solid #fff;
    border-radius: 4px;
}

.onsite-name > p {
    display: table-cell;
    vertical-align: middle;
}

.employee-name {
    margin: 10px 0;
    font-size: 20px;
}

.date-modal {
    background-color: #fff;
    padding: 20px;
    position: fixed;
    top: 18%;
    left: 30%;
    z-index: 10;
    box-shadow: 0 0 8px gray;
    width: 500px;
}

.hide {
    display: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 130px 130px 130px;
}

.onsite-label {
    background-color: #CCCCCC;
    box-shadow: 1px 1px 3px grey;
    border-radius: 4px;
}

.target-area .hidden {
    display: none
}

.fc-view-harness-active {
    height: 1400px !important;
}

.fc-daygrid-day-frame {
}

.box {
    width: 75%;
}
.user-name {
    color: #000;
}
.change-mode{
    color: blue;
    text-decoration: underline;
}
@media only screen and (max-width: 700px) {
    .title {
        font-size: 10px;
    }

    h2 {
        font-size: 16px;
    }

    .fc-toolbar-title {
        font-size: 20px !important;
    }

    .btn {
        font-size: 1em;
    }

    .employee-name {
        font-size: 15px;
    }

    .onsite-name {
        font-size: 10px;
    }

    .box {
        width: 100%;
    }

    label {
        font-size: 10px;
    }

    ul{

    font-size: 14px;}
}
